apic/bin/
apic/obj/


*.userprefs
*.usertasks
*.pidb
*.resources
test-results/

*.suo
*.user
*.sln.docstates
[Dd]ebug/

x64/
*/*/bin/Debug/*


[Oo]bj/
*.nupkg
**/packages/*
!**/packages/build/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
.vs
*~
*.orig




